{% load static %}
<html>
    <head>
        <title>CUE</title>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_org' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
